@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,600&display=swap');

body{
    font-family: 'Chakra Petch', sans-serif;
}

.sizeSelector{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.container{
    background-color: rgb(255, 252, 252);
    border: 1px solid black;
    max-width: 960px;
    max-height: 960px;
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin: auto;
}

.square{
    background-color: #F4F4F4;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 6%
}

/* .square:hover{
    background-color: red;
} */